
montecarlo/plots/barrier = 26.png
.idea/misc.xml
.idea/Dipole_sim.iml
montecarlo/plots/BC1.png
montecarlo/plots/f = -5.0.png
montecarlo/plots/initial.png
montecarlo/plots/f = 5.0.png
montecarlo/plots/BC2.png
montecarlo/plots/barrier = 1.png
montecarlo/plots/kT=0_6326530612244898.png
montecarlo/plots/kT=1_816326530612245.png
montecarlo/plots/kT=2_4081632653061225.png
montecarlo/plots/kT=3_0.png
saves/boltzmann_energies_9.txt
.idea/Dipole_sim.iml
.idea/misc.xml
montecarlo/plots/kT=0_1.png
montecarlo/plots/kT=1_2244897959183676.png
saves/boltzmann_energies_16.txt
saves/boltzmann_polarizations_16.txt
saves/boltzmann_polarizations_9.txt
saves/UvsT_.txt
.idea/misc.xml
